* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: FontAwesome, Adwaita Sans;
    font-size: 14px;
}

window#waybar {
    background-color: black;
    /* border-bottom: 2px solid grey; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    background-color: transparent;
    color: #444444;
    margin-top:     3px;
	margin-bottom:  3px;
	margin-left:    1px;
	margin-right:   1px;
	border-radius:  20px;
}

#workspaces button:hover {
	color:          white;
	background:     #333333;
	transition:     none;
    margin-top:     3px;
	margin-bottom:  3px;
	margin-left:    1px;
	margin-right:   1px;
	border-radius:  20px;
}

#workspaces button.focused {
    background-color: transparent;
    color: #ffffff;
}
#workspaces button.focused:hover {
    background-color: #333333;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #4BE8EB;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}


#clock {
    margin-top:     3px;
	margin-bottom:  3px;
	margin-left:    3px;
	margin-right:   3px;
	padding-left:   9px;
	padding-right:  9px;
	border-radius:  20px;
	transition:     none;
	color:          white;
	background:     black;
}

#clock:hover {
    margin-top:     3px;
	margin-bottom:  3px;
	margin-left:    3px;
	margin-right:   3px;
	padding-left:   9px;
	padding-right:  9px;
	border-radius:  20px;
	transition:     none;
	color:          white;
	background:     #333333;
}

#tray

#tray {
    background-color: black;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-power {
    margin-top:     3px;
	margin-bottom:  3px;
	margin-left:    3px;
	margin-right:   3px;
	padding-left:   9px;
	padding-right:  9px;
	border-radius:  20px;
	transition:     none;
	color:          white;
	background:     black;
}
#custom-power:hover {
    margin-top:     3px;
	margin-bottom:  3px;
	margin-left:    3px;
	margin-right:   3px;
	padding-left:   9px;
	padding-right:  9px;
	border-radius:  20px;
	transition:     none;
	color:          white;
	background:     #333333;
}
